<div class="mt-4">
    <h3>Edit product</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" placeholder="Enter product'name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea  class="form-control"  id="description" name="description">{{course.description}}</textarea>
        </div>
        
        <div class="form-group">
            <label for="videoID">VideoID</label>
            <input type="text" class="form-control" value="{{course.videoID}}" id="videoID" placeholder="Enter product'videoID" name="videoID">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="text" class="form-control" value="{{course.image}}" id="image" placeholder="Enter product'image" name="image">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" value="{{course.amount}}" id="amount" placeholder="Enter product'amount" name="amount">
        </div>
        
        <div class="form-group">
            <label for="rate">Rate</label>
            <input type="text" class="form-control" value="{{course.rate}}" id="rate" placeholder="Enter product'image" name="rate">
        </div>
        
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" value="{{course.price}}" id="price" placeholder="Enter product'price" name="price">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>